/* Media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@import url('https://fonts.google.com/');

/* body */
body {
    background-color: white;
    font-family: "Lato", sans-serif;
    color: #445361;
    text-align: center;
    overflow-x: hidden;
}

/* logo and heading */
.logo {
    height: 60px;
    padding-right: 5px;
}

.heading {
    text-align: center;
    font-size: 2rem;
    line-height: 50px;
    color: #226474;
}

/* game area */
.game-area {
    box-sizing: border-box;
    background-color: #efe6e7;
    width: 85%;
    height: 80vh;
    max-height: 600px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 10%;
}

/* score area */
.score-area {
    width: 60%;
    margin: 2px auto;
    font-size: 1.2rem;
    font-weight: 500;
} 

.playerScore, .compScore {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    color: #722635;
}

span {
    font-weight: bold;
}

/* choices area */
.choices-area {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.move {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
    color: #226474;
}

.choices-area button {
    background-color: #226474;
    color: white;
    border: none;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
    font-size: 4rem;
}

/* result and messages area */
.message {
    margin-top: 1rem;
    text-align: center;
    color: #722635;
}

.comp-chose, .player-chose {
    transition: all 1.5s;
}

#compChoice, #playerChoice {
    display: inline-block;
    padding: 1px 5px 1px 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
  
#result {
  width: 15rem;
  padding: 1rem 0;
  margin: 1.5rem auto;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 10%;
}

/* final popup message */
.popup-text {
    width: 55%;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #ccdfe3;
    color: #226474;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: 50px;
    position: relative;
}

/* For Responsive */

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* choices area */
    .choices-area button {
        height: 5.5rem;
        width: 5.5rem;
        margin: 5px 8px 5px 8px;
        font-size: 3.3rem;
    }

    /* final popup message */
    .popup-text {
        width: 60%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    /* logo and heading */
    .logo {
        height: 40px;
    }

    .heading {
        font-size: 1.5rem;
        line-height: 25px;
    }

    /* score area */
    .score-area {
        margin: 1px auto;
        font-size: 1rem;
    } 

    .playerScore, .compScore {
        padding: 1px 12px 1px 12px;
    }

    /* choices area */
    .move {
        font-size: 1.2rem;
        padding: 1px;
    }

    .choices-area button {
        height: 5rem;
        width: 5rem;
        margin: 5px;
        font-size: 3rem;
    }

    /* result and messages area */
    .message {
        margin-top: 0.5rem;
    }

    #compChoice, #playerChoice {
        font-size: 1rem;
    }
    
    #result {
        width: 12rem;
        margin: 0.6rem auto;
        padding: 0.6rem 0;
        font-size: 0.9rem;
    }

    /* final popup message */
    .popup-text {
        width: 60%;
        margin: 0.6rem auto;
        font-size: 1.2rem;
        line-height: 40px;
    }
}

/*  
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* logo and heading */
    .logo {
        height: 30px;
    }

    .heading {
        font-size: 1rem;
        line-height: 15px;
    }

    /* game area */
    .game-area {
        width: 100%;
        height: 100vh;
    }

    /* score area */
    .score-area {
        margin: 1px auto;
        font-size: 0.9rem;
    } 

    .playerScore, .compScore {
        padding: 1px 2px 1px 2px;
    }

    /* choices area */
    .move {
        font-size: 0.9rem;
        padding: 1px;
    }

    .choices-area button {
        height: 4.5rem;
        width: 4.5rem;
        margin: 5px 15px 5px 15px;
        font-size: 2.5rem;
    }

    /* result and messages area */
    .message {
        margin-top: 0.5rem;
    }

    #compChoice, #playerChoice {
        font-size: 1rem;
    }
    
    #result {
        width: 12rem;
        margin: 1rem auto;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    /* final popup message */
    .popup-text {
        width: 90%;
        font-size: 1.2rem;
        line-height: 40px;
    }
}