/* Media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Oswald:wght@400&display=swap");

/* body */
body {
    background-color: #fcfafa;
    font-family: lato, sans-serif;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}

/* logo and heading */
.logo {
    height: 60px;
    padding-right: 5px;
    border-radius: 50%;
}

.heading {
    font-family: Oswald, sans-serif;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 50px;
    text-transform: capitalize;
    color: #226474;
}

/* navigation links */
#menu {
    font-size: 1rem;
    font-weight: bold;
    line-height: 30px;
}
  
#menu a {
    text-decoration: none;
    color: #226474;
}
  
#menu a:hover {
    border-bottom: 1px solid #722635;
    color: #722635;
}
  
.active {
    border-bottom: 1px solid #226474;
}
  
/* game area */
.game-area {
    box-sizing: border-box;
    background-color: #ece4e5;
    width: 85%;
    height: 80vh;
    max-height: 600px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 10%;
}

/* score area */
.score-area {
    width: 60%;
    margin: 2px auto;
    font-size: 1.2rem;
    font-weight: bold;
} 

.computerScore, .playerScore {
    display: inline-block;
    padding: 2px 15px 2px 15px;
    color: #722635;
}

span {
    font-weight: bold;
}

/* choices area */
.choices-area {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.move {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2px;
    color: #226474;
}

.choices-area button {
    background-color: #226474;
    color: white;
    border: none;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
    font-size: 4rem;
}

/* result and messages area */
.message {
    margin-top: 1rem;
    text-align: center;
    color: #722635;
}

.computer-chose, .player-chose {
    transition: all 1.5s;
}

#computerChoice, #playerChoice {
    display: inline-block;
    padding: 1px 5px 1px 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
  
#result {
  width: 15rem;
  padding: 1rem 0;
  margin: 1.5rem auto;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border-radius: 50%;
}

/* final popup message */
.popup-message {
    width: 60%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #fcfafa;
    color: #226474;
    margin: 1.5rem auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.7px;
    line-height: 55px;
    position: relative;
}

/* instructions page */
/* instructions on instructions page */
#instructions {
    box-sizing: border-box;
    background-color: rgba(239, 200, 200, 0.8);
    width: 85%;
    height: 75vh;
    max-height: 600px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 10%;
    font-weight: bold;
    font-size: 1rem;
    color: #722635;
}

#instructions h3 {
    font-family: Oswald, sans-serif;
    letter-spacing: 1px;
    line-height: 15px;
    color: #226474;
}

/* For Responsive */

/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* choices area */
    .choices-area button {
        height: 5.5rem;
        width: 5.5rem;
        margin: 5px 8px 5px 8px;
        font-size: 3.3rem;
    }

    /* final popup message */
    .popup-message {
        width: 60%;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
    /* logo and heading */
    .logo {
        height: 40px;
    }

    .heading {
        font-size: 1.5rem;
        line-height: 25px;
    }

    /* navigation links */
    #menu {
        font-size: 0.9rem;
        line-height: 25px;
    }

    /* score area */
    .score-area {
        margin: 1px auto;
        font-size: 1rem;
    } 

    .computerScore, .playerScore {
        padding: 1px 12px 1px 12px;
    }

    /* choices area */
    .move {
        font-size: 1.2rem;
        padding: 1px;
    }

    .choices-area button {
        height: 5rem;
        width: 5rem;
        margin: 5px;
        font-size: 3rem;
    }

    /* result and messages area */
    .message {
        margin-top: 0.5rem;
    }

    #computerChoice, #playerChoice {
        font-size: 1rem;
    }
    
    #result {
        width: 12rem;
        margin: 0.6rem auto;
        padding: 0.6rem 0;
        font-size: 0.9rem;
    }

    /* final popup message */
    .popup-message {
        width: 60%;
        margin: 0.6rem auto;
        font-size: 1.2rem;
        line-height: 45px;
    }

    /* instructions page */
    /* instructions on instructions page */
    #instructions {
        width: 100%;
        height: 80vh;
        font-size: 0.75rem;
    }    
}

/*  
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    /* logo and heading */
    .logo {
        height: 30px;
    }

    .heading {
        font-size: 1rem;
        line-height: 15px;
    }

    /* navigation links */
    #menu {
        font-size: 0.75rem;
        line-height: 10px;
    }

    /* game area */
    .game-area {
        width: 100%;
    }

    /* score area */
    .score-area {
        margin: 1px auto;
        font-size: 0.75rem;
    } 

    .compScore, .playerScore {
        padding: 1px 2px 1px 2px;
    }

    /* choices area */
    .move {
        font-size: 0.9rem;
        padding: 1px;
    }

    .choices-area button {
        height: 4.5rem;
        width: 4.5rem;
        margin: 5px;
        font-size: 2.5rem;
    }

    /* result and messages area */
    .message {
        margin-top: 0.5rem;
    }

    #computerChoice, #playerChoice {
        font-size: 0.75rem;
    }
    
    #result {
        width: 12rem;
        margin: 1rem auto;
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    /* final popup message */
    .popup-message {
        width: 100%;
        font-size: 1.2rem;
        line-height: 45px;
    }

    /* instructions page */
    /* instructions on instructions page */
    #instructions {
        width: 100%;
        font-size: 0.7rem;
    }
}